<html>
<head>
<style type="text/css">
#header {
     background-color:#3b5998;
     color:white;
     text-align:center;
     padding:10px;
     }
#buttongraphic {  
     background-Color:#8b9dc3; 
     color:#ffffff; 
     font-weight:bold; 
     width: 300px; 
     height: 25px;
     border-radius: 24px 24px 24px 24px;
     -moz-border-radius: 24px 24px 24px 24px;
     -webkit-border-radius: 24px 24px 24px 24px;
     }
#buttonfield {
     line-height:25px;
     background-color:#dfe3ee;
     text-align:center;
     padding:5px;       
     }
#ranking {
     background-color:#dfe3ee;
     color:#3b5998;
     text-align:center;
     padding:8px;
     }
#table {
     color:#3b5998;
     text-align:center;
     }
</style>
<script src="http://localhost:4567/js/jquery-1.11.3.min.js" type="text/javascript"></script>

<script> 
$(document).ready(function() { 
     var pageBody = $(document.body) ;
     pageBody.css("zoom", "150%"); 
     pageBody.css("background-color", "#dfe3ee"); 
}); 
</script> 
</head>

<body>
     <div id="header">
     <h1>Cuatro en Línea</h1>
     </div>

     <div id="ranking">
     <hr><h2>Ranking de Jugadores  </h2></hr>
     <hr> </hr>
     </div>

     <center>
     <div id="buttonfield">
     <input type="button" id="buttongraphic" value="VOLVER" onClick="document.location.href='/'">
     </div>
     </center>

     <div id= "table">
     
      
     
     
  <table width="70%" border="1" align="center" cellspacing="1" cellpadding="1" padding="1">
	<tr> <td> <center> <b> Posicion </b></center>  </td> <td> <center> <b> Jugador </b></center>  </td> <td> <center> <b> Puntos </b></center>  </td>            </tr> 
	
    
    {{#showRankings}}
        
        <tr>
            
	  <td> <center><font color="black"><em>{{rank}}</em></font></center> </td>
	  <td><center><font color="black"><em>{{email}}</em></font></center></td>	
          <td><center><font color="black"><em>{{points}}</em></font></center></td>



       </tr>
    {{/showRankings}}
 </table>     
     
     
     
     
     
     

     </body>
     </html>   
